@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Nanum+Gothic:wght@400;700&family=Roboto:wght@100;300;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.anchoNav{
    width: 100vw; 
}

@import './variables/colores';
@import './variables/typo';
@import './variables/extend';
@import './secciones/main-index';
@import './secciones/header-index';
@import './secciones/footer-index';
@import './secciones/header-catalogo';
@import './secciones/main-catalogo';
@import './secciones/footer-catalogo';
@import './secciones/header-nosotros';
@import './secciones/main-nosotros';
@import './secciones/footer-nosotros';
@import './secciones/header-envios';
@import './secciones/main-envios';
@import './secciones/footer-envios';
@import './secciones/header-contacto';
@import './secciones/main-contacto';
@import './secciones/main-index';
@import './secciones/mquery-index';




 
 





