//extend

%estiloPrincipal{
    color: $rosa;
    font-style: $typoredes;
}

//mixin
@mixin estiloTexto ($size) {
    font-size: $size;
    font-family: $typo-ppal;
    font-style: italic;
    color: $font-color;
    background-color: $rosa;
    font-style: $typo-ppal;
}