.mainEnvios{
    
    display: inline;
    text-align: center;
    padding: 50px;
    h5{
        color:saddlebrown;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        
    }
    p{
        color: sienna;
        font-size: 20px;
        text-align: center;
        padding: 90px;
        
    }
}
