

main {
        .qsflex{
            display: flex;
            padding: 60px;
            background-color: #f5d8d8;
            color: #574e4e;
            @include estiloTexto (25px);
        }   
}
