.mainContacto{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: snow;
    background: rgb(249,242,254);
    background: linear-gradient(0deg, rgba(249,242,254,1) 0%, rgba(207,140,140,1) 100%);
    padding: 60px;
}